{% load static %}
{% load mptt_tags %}
<!--====== Header Wrapper ======-->
<div class="header-wrapper">

    <!--====== Main Header ======-->
    <header class="header--style-3">

        <!--====== Nav 1 ======-->
        <nav class="primary-nav-wrapper">
            <div class="container">

                <!--====== Primary Nav ======-->
                <div class="primary-nav">

                    <!--====== Main Logo ======-->

                    <a class="main-logo" href="{% url 'home' %}">

                        <img src="{% static 'images/logo/logo-2.png' %}" alt=""></a>
                    <!--====== End - Main Logo ======-->


                    <!--====== Search Form ======-->
                    <form class="main-form" action="{% url 'searchProducts' %}" method="GET">

                        <label for="main-search"></label>

                        <input class="input-text input-text--border-radius input-text--style-1" type="text"
                            id="main-search" placeholder="Search Products" name="keyword">

                        <button class="btn btn--icon fas fa-search main-search-button" type="submit"></button>
                    </form>
                    <!--====== End - Search Form ======-->


                    <!--====== Dropdown Main plugin ======-->
                    <div class="menu-init" id="navigation">

                        <button class="btn btn--icon toggle-button toggle-button--white fas fa-cogs"
                            type="button"></button>

                        <!--====== Menu ======-->
                        <div class="ah-lg-mode">

                            <span class="ah-close">✕ Close</span>

                            <!--====== List ======-->
                            <ul class="ah-list ah-list--design1 ah-list--link-color-white">
                                <li class="has-dropdown" data-tooltip="tooltip" data-placement="left"
                                    title="Account">

                                    <a><i class="far fa-user-circle"></i></a>

                                    <!--====== Dropdown ======-->

                                    <span class="js-menu-toggle"></span>
                                    <ul style="width:120px">
                                        {% if user.id is None %}
                                        <li>

                                            <a><i
                                                    class="fas fa-user-circle u-s-m-r-6"></i>

                                                <span>Hi Guest</span></a>
                                        </li>
                                        
                                        <li>

                                            <a href="{% url 'signup' %}"><i class="fas fa-user-plus u-s-m-r-6"></i>

                                                <span>Signup</span></a>
                                        </li>
                                        <li>

                                            <a href="{% url 'signin' %}"><i class="fas fa-lock u-s-m-r-6"></i>

                                                <span>Signin</span></a>
                                        </li>
                                        {% else %}
                                            <li>

                                                <a><i
                                                        class="fas fa-user-circle u-s-m-r-6"></i>

                                                    <span>{{ user.first_name | capfirst }}</span></a>
                                            </li>
                                            
                                            <li>

                                                <a href="{% url 'dashboard' %}"><i class="fa fa-th" aria-hidden="true"></i>

                                                    <span> Dashboard</span></a>
                                            </li>
                                            <li>

                                                <a href="{% url 'logout' %}"><i class="fas fa-lock-open u-s-m-r-6"></i>

                                                    <span>Logout</span></a></li>
                                            </li>
                                        {% endif %}
                                        
                                    </ul>
                                    <!--====== End - Dropdown ======-->
                                </li>
                                <li class="has-dropdown" data-tooltip="tooltip" data-placement="left"
                                    title="Settings">

                                    <a><i class="fas fa-user-cog"></i></a>

                                    <!--====== Dropdown ======-->

                                    <span class="js-menu-toggle"></span>
                                    <ul style="width:120px">
                                        <li class="has-dropdown has-dropdown--ul-right-100">

                                            <a>Language<i class="fas fa-angle-down u-s-m-l-6"></i></a>

                                            <!--====== Dropdown ======-->

                                            <span class="js-menu-toggle"></span>
                                            <ul style="width:120px">
                                                <li>

                                                    <a class="u-c-brand">ENGLISH</a>
                                                </li>
                                                <li>

                                                    <a>ARABIC</a>
                                                </li>
                                                <li>

                                                    <a>FRANCAIS</a>
                                                </li>
                                                <li>

                                                    <a>ESPANOL</a>
                                                </li>
                                            </ul>
                                            <!--====== End - Dropdown ======-->
                                        </li>
                                        <li class="has-dropdown has-dropdown--ul-right-100">

                                            <a>Currency<i class="fas fa-angle-down u-s-m-l-6"></i></a>

                                            <!--====== Dropdown ======-->

                                            <span class="js-menu-toggle"></span>
                                            <ul style="width:225px">
                                                <li>

                                                    <a class="u-c-brand">$ - US DOLLAR</a>
                                                </li>
                                                <li>

                                                    <a>£ - BRITISH POUND STERLING</a>
                                                </li>
                                                <li>

                                                    <a>€ - EURO</a>
                                                </li>
                                            </ul>
                                            <!--====== End - Dropdown ======-->
                                        </li>
                                    </ul>
                                    <!--====== End - Dropdown ======-->
                                </li>
                                <li data-tooltip="tooltip" data-placement="left" title="Contact">

                                    <a href="tel:+0900901904"><i class="fas fa-phone-volume"></i></a>
                                </li>
                                <li data-tooltip="tooltip" data-placement="left" title="Mail">

                                    <a href="mailto:contact@domain.com"><i class="far fa-envelope"></i></a>
                                </li>
                            </ul>
                            <!--====== End - List ======-->
                        </div>
                        <!--====== End - Menu ======-->
                    </div>
                    <!--====== End - Dropdown Main plugin ======-->
                </div>
                <!--====== End - Primary Nav ======-->
            </div>
        </nav>
        <!--====== End - Nav 1 ======-->


        <!--====== Nav 2 ======-->
        <nav class="secondary-nav-wrapper">
            <div class="container">

                <!--====== Secondary Nav ======-->
                <div class="secondary-nav">

                    <!--====== Dropdown Main plugin ======-->
                    <div class="menu-init" id="navigation1">

                        <button class="btn btn--icon toggle-mega-text toggle-button" type="button">CATEGORIES</button>

                        <!--====== Menu ======-->
                        <div class="ah-lg-mode">

                            <span class="ah-close">✕ Close</span>

                            <!--====== List ======-->
                            <ul class="ah-list">
                                <li class="has-dropdown">

                                    <span class="mega-text">CATEGORIES</span>

                                    <!--====== Mega Menu ======-->

                                    <span class="js-menu-toggle"></span>
                                    <div class="mega-menu">
                                        <div class="mega-menu-wrap">
                                            <div class="mega-menu-list">
                                                <!-- <ul class="root">
                                                    {% recursetree category %}
                                                        <li>
                                                            {{ node.categoryName }}
                                                            {% if not node.is_leaf_node %}
                                                                <ul class="children">
                                                                    {{ children }}
                                                                </ul>
                                                            {% endif %}
                                                        </li>
                                                    {% endrecursetree %}
                                                </ul> -->
                                                <ul>
                                                    {% recursetree category %}

                                                        <li class="js-active">
                                                            <a href="shop-side-version-2.html">
                                                                <i class="fas fa-tv u-s-m-r-6"></i>
                                                                <span>
                                                                    {{ node.categoryName }}
                                                                    
                                                                </span>
                                                            </a>
                                                            <span class="js-menu-toggle js-toggle-mark"></span>
                                                        </li>
                                                        
                                                    {% endrecursetree %}
                                                </ul>
                                                <div class="col-lg-3">
                                                    {% recursetree category %}
                                                        {% if not node.is_leaf_node %}
                                                            <ul>
                                                                <li class="mega-list-title">

                                                                    <a href="shop-side-version-2.html">{{ children }}</a>
                                                                </li>
                                                                
                                                            </ul>
                                                        {% endif %}
                                                    {% endrecursetree %}
                                                </div>
                                            </div>

                                            <!--====== Women ======-->
                                            <div class="mega-menu-content">

                                                <!--====== Mega Menu Row Header Image======-->
                                                
                                                <!--====== End - Mega Menu Row ======-->
                                                <br>

                                                <!--====== Mega Menu Row ======-->
                                                
                                                <!--====== End - Mega Menu Row ======-->
                                                <br>

                                            </div>
                                            <!--====== End - Women ======-->

                                            <!--====== Electronics ======-->
                                            
                                            <!--====== End - Electronics ======-->


                                            <!--====== Men ======-->
                                            
                                            <!--====== End - Men ======-->


                                            <!--====== No Sub Categories ======-->
                                            
                                            <!--====== End - No Sub Categories ======-->


                                            <!--====== No Sub Categories ======-->
                                           
                                            <!--====== End - No Sub Categories ======-->


                                            <!--====== No Sub Categories ======-->
                                            
                                            <!--====== End - No Sub Categories ======-->


                                            <!--====== No Sub Categories ======-->
                                            
                                            <!--====== End - No Sub Categories ======-->
                                        </div>
                                    </div>
                                    <!--====== End - Mega Menu ======-->
                                </li>
                            </ul>
                            <!--====== End - List ======-->
                        </div>
                        <!--====== End - Menu ======-->
                    </div>
                    <!--====== End - Dropdown Main plugin ======-->


                    <!--====== Dropdown Main plugin ======-->
                    <div class="menu-init" id="navigation2">

                        <button class="btn btn--icon toggle-button fas fa-cog" type="button"></button>

                        <!--====== Menu ======-->
                        <div class="ah-lg-mode">

                            <span class="ah-close">✕ Close</span>

                            <!--====== List ======-->
                            <ul class="ah-list ah-list--design2 ah-list--link-color-secondary">
                                <li>

                                    <a href="shop-side-version-2.html">HOT</a>
                                </li>
                                
                                <li class="has-dropdown">

                                    <a>CATEGORIES<i class="fas fa-angle-down u-s-m-l-6"></i></a>

                                    <!--====== Dropdown ======-->

                                    <span class="js-menu-toggle"></span>
                                    
                                    <ul style="width:170px">
                                        {% recursetree category %}
                                        <li class="has-dropdown has-dropdown--ul-left-100">
                                            {% if node.categoryName %}
                                            <a>{{ node.categoryName }}<i class="fas fa-angle-down i-state-right u-s-m-l-6"></i>
                                            </a>
                                            {% endif %}

                                            <!--====== Dropdown ======-->

                                            <span class="js-menu-toggle"></span>
                                            {% if not node.is_leaf_node %}
                                            <ul style="width:180px; padding: 0 0;">
                                                <li style="text-align: center">
                                                    <!-- <h6 style="margin-top: .5rem;">SUB CATEGORIES</h6> -->
                                                    {% if children != null %}
                                                    <a href="{% url 'store' %}">{{ children}}</a>
                                                    {% endif %}
                                                </li>
                                                
                                            </ul>
                                            {% endif %}
                                            <!--====== End - Dropdown ======-->
                                        </li>
                                        {% endrecursetree %}
                                    </ul>
                                    
                                    <!--====== End - Dropdown ======-->
                                </li>
                                <li class="has-dropdown">

                                    <a>BLOG<i class="fas fa-angle-down u-s-m-l-6"></i></a>

                                    <!--====== Dropdown ======-->

                                    <span class="js-menu-toggle"></span>
                                    <ul style="width:200px">
                                        <li>

                                            <a href="blog-left-sidebar.html">Blog Left Sidebar</a>
                                        </li>
                                        <li>

                                            <a href="blog-right-sidebar.html">Blog Right Sidebar</a>
                                        </li>
                                        <li>

                                            <a href="blog-sidebar-none.html">Blog Sidebar None</a>
                                        </li>
                                        <li>

                                            <a href="blog-masonry.html">Blog Masonry</a>
                                        </li>
                                        <li>

                                            <a href="blog-detail.html">Blog Details</a>
                                        </li>
                                    </ul>
                                    <!--====== End - Dropdown ======-->
                                </li>
                                <li>

                                    <a href="shop-side-version-2.html">VALUE OF THE DAY</a>
                                </li>
                                <li>

                                    <a href="shop-side-version-2.html">GIFT CARDS</a>
                                </li>
                            </ul>
                            <!--====== End - List ======-->
                        </div>
                        <!--====== End - Menu ======-->
                    </div>
                    <!--====== End - Dropdown Main plugin ======-->


                    <!--====== Dropdown Main plugin ======-->
                    <div class="menu-init" id="navigation3">

                        <button class="btn btn--icon toggle-button fas fa-shopping-bag toggle-button-shop"
                            type="button"></button>

                        <span class="total-item-round">{{cartCount}}</span>

                        <!--====== Menu ======-->
                        <div class="ah-lg-mode">

                            <span class="ah-close">✕ Close</span>

                            <!--====== List ======-->
                            <ul class="ah-list ah-list--design1 ah-list--link-color-secondary">
                                <li>

                                    <a href="{% url 'home' %}"><i class="fas fa-home"></i></a>
                                </li>
                                <li>

                                    <a href="wishlist.html"><i class="far fa-heart"></i></a>
                                </li>
                                <li class="has-dropdown">

                                    <a class="mini-cart-shop-link"><i class="fas fa-shopping-bag"></i>

                                        <span class="total-item-round">{{cartCount}}</span></a>

                                    <!--====== Dropdown ======-->

                                    <span class="js-menu-toggle"></span>
                                    <div class="mini-cart">

                                        <!--====== Mini Product Container ======-->
                                        <div class="mini-product-container gl-scroll u-s-m-b-15">

                                            <!--====== Card for mini cart ======-->
                                            {% for cartItem in cartItems %}
                                            <div class="card-mini-product">
                                                <div class="mini-product">
                                                    <div class="mini-product__image-wrapper">

                                                        <a class="mini-product__link"
                                                            href="{{ cartItem.product.getUrl }}">

                                                            <img class="u-img-fluid"
                                                                src="{{ cartItem.product.productImage.url }}"
                                                                alt=""></a>
                                                    </div>
                                                    <div class="mini-product__info-wrapper">

                                                        <span class="mini-product__category">

                                                            <a href="{{ cartItem.product.category.getUrl }}">{{
                                                                cartItem.product.category }}</a></span>

                                                        <span class="mini-product__name">

                                                            <a href="{{ cartItem.product.getUrl }}">{{
                                                                cartItem.product.productName }}</a></span>

                                                        <span class="mini-product__quantity">{{ cartItem.quantity }}
                                                            x</span>

                                                        <span class="mini-product__price">₹ {{
                                                            cartItem.product.discountedPrice }}</span>
                                                    </div>
                                                </div>

                                                <a href="{% url 'removeFromCart' cartItem.product.id cartItem.id %}"
                                                    onclick="return confirm('Are you sure you want to delete this product. ?')"
                                                    class="mini-product__delete-link far fa-trash-alt"></a>
                                            </div>
                                            {% endfor %}
                                            <!--====== End - Card for mini cart ======-->
                                        </div>
                                        <!--====== End - Mini Product Container ======-->


                                        <!--====== Mini Product Statistics ======-->
                                        <div class="mini-product-stat">
                                            <div class="mini-total">

                                                <span class="subtotal-text">SUBTOTAL</span>

                                                <span class="subtotal-value">{{ Total }}</span>
                                            </div>
                                            <div class="mini-action">

                                                <a class="mini-link btn--e-brand-b-2" href="checkout.html">PROCEED
                                                    TO CHECKOUT</a>

                                                <a class="mini-link btn--e-transparent-secondary-b-2"
                                                    href="{% url 'cart' %}">VIEW CART</a>
                                            </div>
                                        </div>
                                        <!--====== End - Mini Product Statistics ======-->
                                    </div>
                                    <!--====== End - Dropdown ======-->
                                </li>
                            </ul>
                            <!--====== End - List ======-->
                        </div>
                        <!--====== End - Menu ======-->
                    </div>
                    <!--====== End - Dropdown Main plugin ======-->
                </div>
                <!--====== End - Secondary Nav ======-->
            </div>
        </nav>
        <!--====== End - Nav 2 ======-->
    </header>
    <!--====== End - Main Header ======-->
</div>
<!--====== End - Header Wrapper ======-->